@(armors: List[model.item.Armor])(extend: Html)(implicit helper: models.ModelHelper)

<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>def</th>
        <th>mdf</th>
        <th>type</th>
    </tr>

    @for(armor <- armors) {
        <tr>
            @component.column.item(armor.getItem)
            <td>@(armor.`def`)</td>
            <td>@armor.mdf</td>
            <td>@(armor.`type`.name)</td>
        </tr>
    }

    @extend
</table>
