@(weapons: List[model.item.Weapon])(extend: Html)(implicit helper: models.ModelHelper)

<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>atk</th>
        <th>mat</th>
        <th>type</th>
    </tr>

    @for(weapon <- weapons) {
        <tr>
            @component.column.item(weapon.getItem)
            <td>@weapon.atk</td>
            <td>@weapon.mat</td>
            <td>@(weapon.`type`.name)</td>
        </tr>
    }

    @extend
</table>
