@(view: controllers.CharaController.GetViewArgs)(implicit helper: models.ModelHelper)

@import view._
@import helper._

@pages.get(
    call = routes.CharaController.get(id),
    update = routes.CharaController.update,
    delete = routes.CharaController.delete(id),
    obj = chara) {
    @for(c <- chara) {
        @table.characters(c :: Nil) {
            <tr>
                <td></td>
                <td>@forms.text(id = "name", v = "nameValue", default = c.name)</td>
                <td>@forms.race(id = "race", v = "raceValue", races = races, default = c.getRace)</td>
                <td>@forms.classes(id = "classes", v = "classesValue", classes = classes, default = c.classes.map(_.getId))</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'race': raceValue(),
        'classes': classesValue()
    }
} {
    @for(c <- chara) {
        @row1 {
            <form class="form-inline">
                <div class="input-group">
                    <input type="number" class="form-control" id="xp" value="0">
                    <div class="input-group-addon">xp</div>
                </div>
                <button id="gain-xp" type="button" class="btn btn-default">Gain Xp</button>
            </form>

            <script>
                $('#gain-xp').click(function() {
                    var url = window.location.origin + '@routes.CharaController.gainXp(id)';

                    var body = {'xp': number('#xp')};

                    jsonApi(url, 'POST', body, '#update-result');
                });
            </script>
        }

        @row1 {
            @if(attributes.attributes.isEmpty) { <div class="alert alert-danger" role="alert">@attributes.alert</div> }
            @for(a <- attributes.attributes) { @tables.attributes(a) }
        }

        @row1 {
            @table.equipments(c, equipments)
            <button id="equip" type="button" class="btn btn-default">Equip</button>

            <script>
                $('#equip').click(function() {
                    var url = window.location.origin + '@routes.CharaController.equip(id)';

                    var body = equipmentsValue();

                    jsonApi(url, 'POST', body, '#update-result');
                });
            </script>
        }

        @row1 {
            @table.tactics(c.tactics)
        }
    }
}
