@(id: String, chara: Option[model.Chara], races: Map[model.RaceId, model.Race], classes: Map[model.ClassId, model.Class])
@main(title = "/characters/" + id) {
@if(chara.isEmpty) {
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>/characters/@id not found</h1>
        </div>
    </div>
</div>
}
@for(c <- chara) {
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>/characters/@id</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div id="update-result"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <dl class="dl-horizontal">
            <dt>Id</dt><dd>@id</dd>
            <dt>Name</dt><dd>@c.name</dd>

            @for(r <- races.get(c.getRace)) {
            <dt>Race</dt><dd>@r.name L@c.getRaceLevel.level (@c.getRaceLevel.xp xp / @c.getRaceLevel.cp cp)</dd>
            }

            @for(r <- c.classes.zipWithIndex) {
            @for(cls <- classes.get(r._1.getId)) {
            <dt>Class[@r._2]</dt><dd>@cls.name L@r._1.getLevel.level (@r._1.getLevel.xp xp / @r._1.getLevel.cp cp)</dd>
            }
            }
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <form>
            <button id="delete" type="button" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
}
<script>
    $('#delete').click(function() {
        var url = window.location.origin + '@routes.CharaController.delete(id)';

        fetch(url, {
            method: 'DELETE'
        }).then(function(res) {
            if (res.status == 200) {
                window.location.reload(true);
            } else {
                res.json().then(function(json) {
                    $('#update-result').html('<div class="alert alert-danger" role="alert">' + JSON.stringify(json) + '</div>');
                });
            }
        })
    });
</script>
}
