@(id: String, chara: Option[model.Chara])(implicit helper: models.ModelHelper)

@import helper._

@tnl(level: model.CharaLevel) = { @(domain.formula.TilNextLevel(level.level + 1).xp - level.xp) }

@main(title = "/characters/" + id) {
@if(chara.isEmpty) {
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>/characters/@id not found</h1>
        </div>
    </div>
</div>
}
@for(c <- chara) {
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>/characters/@id</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <tr><th>Id</th><th>Name</th><th>Race</th><th>Class</th></tr>
            @charaRow(c)
        </table>
        <div id="update-result"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control" id="xp" placeholder="0">
                    <div class="input-group-addon">xp</div>
                </div>
            </div>
            <div class="form-group">
                <button id="gain-xp" type="button" class="btn btn-default">Gain Xp</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form>
            <button id="delete" type="button" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
}
<script>
    $('#gain-xp').click(function() {
        var url = window.location.origin + '@routes.CharaController.gainXp(id)';
        var xp = parseInt($('#xp').val());

        jsonApi(url, 'POST', {'xp': xp}, '#update-result');
    });

    $('#delete').click(function() {
        var url = window.location.origin + '@routes.CharaController.delete(id)';

        noContentApi(url, 'DELETE', '#update-result');
    });
</script>
}
