@(characters: List[model.Chara], races: List[model.Race], classes: List[model.Class])(implicit helper: models.ModelHelper)

@pages.list(call = routes.CharaController.list, create = routes.CharaController.create) {
    @table.characters(characters) {
        <tr>
            <td>@forms.text(id = "id", v = "idValue", placeholder = "character id")</td>
            <td>@forms.text(id = "name", v = "nameValue", placeholder = "character name")</td>
            <td>@forms.race(id = "race", v = "raceValue", races = races)</td>
            <td>@forms.classes(id = "classes", v = "classesValue", classes = classes)</td>
        </tr>
    }
} {
    {
        'id': idValue(),
        'name': nameValue(),
        'race': raceValue(),
        'classes': classesValue()
    }
}
