@(title: String)(body: Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.10/cytoscape.min.js"></script>
    <title>@title</title>
</head>
<body>
<script>
    jsonApi = function(url, method, body, alert) {
        fetch(url, {
            method: method,
            headers: {'Content-Type': 'text/json'},
            body: JSON.stringify(body)
        }).then(function(res) {
            if (200 <= res.status && res.status < 300) {
                window.location.reload(true);
            } else {
                res.json().then(function(json) {
                    $(alert).html('<div class="alert alert-danger" role="alert"><pre><code>' + JSON.stringify(json, null, 4) + '</code></pre></div>');
                });
            }
        });
    };

    noContentApi = function(url, method, alert) {
        fetch(url, {
            method: method
        }).then(function(res) {
            if (200 <= res.status && res.status < 300) {
                window.location.reload(true);
            } else {
                res.json().then(function(json) {
                    $(alert).html('<div class="alert alert-danger" role="alert"><pre><code>' + JSON.stringify(json, null, 4) + '</code></pre></div>');
                });
            }
        });
    };

    text = function(id) {
        return $(id).val();
    };

    number = function(id) {
        return parseInt($(id).val());
    };

    array = function(id) {
        if ($(id).val() == null) {
            return [];
        } else {
            return $(id).val();
        }
    };

    arrayNumber = function(id) {
        return array(id).map(function(x) { return parseInt(x, 10); });
    };

    level = function(base, increasing) {
        return {'base': number(base), 'increasing': number(increasing)};
    };

</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.MainController.index">
                <img style="height:20px; width:20px" alt="Brand" src="@routes.Assets.at()">
            </a>
            <p class="navbar-text navbar-left"><a href="@routes.RaceController.list" class="navbar-link">Races</a></p>
            <p class="navbar-text navbar-left"><a href="@routes.ClassController.list" class="navbar-link">Classes</a></p>
            <p class="navbar-text navbar-left"><a href="@routes.CharaController.list" class="navbar-link">Characters</a></p>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skills <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.SkillController.list">Skills</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@routes.MultipleAttackController.list">Multiple Attack Skills</a></li>
                        <li><a href="@routes.ChainAttackController.list">Chain Attack Skills</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.ItemController.list">Items</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@routes.WeaponController.list">Weapons</a></li>
                        <li><a href="@routes.ArmorController.list">Armors</a></li>
                        <li><a href="@routes.AccessoryController.list">Accessories</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @body
</div>
</body>
</html>
