@(id: String, weapon: Option[model.item.Weapon])(implicit helper: models.ModelHelper)

@pages.get(call = routes.WeaponController.get(id), update = routes.WeaponController.update, delete = routes.WeaponController.delete(id), obj = weapon) {
    @for(w <- weapon) {
        @table.weapons(w :: Nil) {
            <tr>
                @columns.forms.item(hasIdField = true, value = w.getItem)
                <td>@forms.number(id = "atk", v = "atkValue", default = w.atk)</td>
                <td>@forms.number(id = "mat", v = "matValue", default = w.mat)</td>
                <td>@forms.enum(id = "weapon-type", v = "weaponTypeValue", companion = model.item.WeaponType, default = w.`type`.value)</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'price': priceValue(),
        'atk': atkValue(),
        'mat': matValue(),
        'type': weaponTypeValue()
    }
} {
    <!---->
}
