@(skills: List[model.skill.MultipleAttackSkill], prerequisites: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@main(title = "/skills/multiple-attack") {
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>/skills/multiple-attack</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Prerequisites</th>
                    <th>Types</th>
                    <th>Elements</th>
                    <th>Power</th>
                    <th>TP</th>
                    <th>Hit</th>
                    <th>Range</th>
                    <th>Target</th>
                </tr>
                @for(s <- skills) {
                @multipleAttackRow(s)
                }
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id" placeholder="Skill Id">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Skill Name">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="prerequisites" class="form-control" multiple>
                                @for(s <- prerequisites) {
                                <option value="@s.getId.id">@s.name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="types" class="form-control" multiple>
                                @for(t <- model.skill.SkillType.values) {
                                <option value="@t.value">@t.name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="elements" class="form-control" multiple>
                                @for(e <- model.Element.values) {
                                <option value="@e.value">@e.name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" id="base-power" placeholder="0">
                                <span class="input-group-addon">%</span>
                            </div>
                            <div class="input-group">
                                <input type="number" class="form-control" id="incr-power" placeholder="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" id="base-tp" placeholder="0">
                                <span class="input-group-addon">TP</span>
                            </div>
                            <div class="input-group">
                                <input type="number" class="form-control" id="incr-tp" placeholder="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" id="base-hit" placeholder="0">
                                <span class="input-group-addon">Hit</span>
                            </div>
                            <div class="input-group">
                                <input type="number" class="form-control" id="incr-hit" placeholder="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="range" class="form-control">
                                @for(r <- model.Range.values) {
                                <option value="@r.value">@r.name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="target" class="form-control">
                                @for(t <- model.Target.values) {
                                <option value="@t.value">@t.name</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="create-result"></div>
            <button id="create" type="button" class="btn btn-default">Create</button>
        </div>
    </div>
</div>
<script>
    $('#create').click(function() {
        var url = window.location.origin + '@routes.MultipleAttackController.create';

        var body = {
            'id': text('#id'),
            'name': text('#name'),
            'prerequisites': array('#prerequisites'),
            'types': arrayNumber('#types'),
            'elements': arrayNumber('#elements'),
            'power': level('#base-power', '#incr-power'),
            'tp': level('#base-tp', '#incr-tp'),
            'hit': level('#base-hit', '#incr-hit'),
            'range': number('#range'),
            'target': number('#target')
        };

        jsonApi(url, 'POST', body, '#create-result');
    });
</script>
}
