@(id: String, armor: Option[model.item.Armor])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.ArmorController.get(id),
    update = routes.ArmorController.update,
    delete = routes.ArmorController.delete(id),
    obj = armor) {
    @for(a <- armor) {
        @table.armors(a :: Nil) {
            <tr>
                @columns.forms.item(hasIdField = true, value = a.getItem)
                <td>@forms.number(id = "def", v = "defValue", default = a.`def`)</td>
                <td>@forms.number(id = "mdf", v = "mdfValue", default = a.mdf)</td>
                <td>@forms.enum(id = "armor-type", v = "armorTypeValue", companion = model.item.ArmorType, default = a.`type`.value)</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'price': priceValue(),
        'def': defValue(),
        'mdf': mdfValue(),
        'type': armorTypeValue()
    }
} {
    <!---->
}
