@(armors: List[model.item.Armor])(implicit helper: models.ModelHelper)

@main(title = routes.ArmorController.list.url) {
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>@routes.ArmorController.list</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @component.table.armors(armors) {
                <tr>
                    <td>@component.form.id(placeholder = "item id")</td>
                    <td>@component.form.name(placeholder = "item name")</td>
                    <td>@component.form.price()</td>
                    <td>@component.form.number(id = "def", v = "defValue", default = 0)</td>
                    <td>@component.form.mdf()</td>
                    <td>@component.form.armorType()</td>
                </tr>
            }
        </div>
    </div>
    <div>
        <div class="col-xs-12">
            <div id="create-result"></div>
            <button id="create" type="button" class="btn btn-default">Create</button>
        </div>
    </div>
    <script>
        $('#create').click(function() {
            var url = window.location.origin + '@routes.ArmorController.create';

            var body = {
                'id': idValue(),
                'name': nameValue(),
                'price': priceValue(),
                'def': defValue(),
                'mdf': mdfValue(),
                'type': armorTypeValue()
            };

            jsonApi(url, 'POST', body, '#create-result');
        });
    </script>
}
