@(armors: List[model.item.Armor])(implicit helper: models.ModelHelper)

@pages.list(call = routes.ArmorController.list, create = routes.ArmorController.create) {
    @table.armors(armors) {
        <tr>
            @columns.forms.item(hasIdField = true)
            <td>@forms.number(id = "def", v = "defValue")</td>
            <td>@forms.number(id = "mdf", v = "mdfValue")</td>
            <td>@forms.enum(id = "armor-type", v = "armorTypeValue", companion = model.item.ArmorType)</td>
        </tr>
    }
} {
    {
        'id': idValue(),
        'name': nameValue(),
        'price': priceValue(),
        'def': defValue(),
        'mdf': mdfValue(),
        'type': armorTypeValue()
    }
}
