@(id: String, accessory: Option[model.item.Accessory])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.AccessoryController.get(id),
    update = routes.AccessoryController.update,
    delete = routes.AccessoryController.delete(id),
    obj = accessory) {
    @for(a <- accessory) {
        @table.accessories(a :: Nil) {
            <tr>
                @columns.forms.item(hasIdField = false, value = a.getItem)
            </tr>
        }
    }
} {
    itemValues('@id')
} {
    <!---->
}
