@(id: String, accessory: Option[model.item.Accessory])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.AccessoryController.get(id),
    update = routes.AccessoryController.update,
    delete = routes.AccessoryController.delete(id),
    obj = accessory) {
    @for(a <- accessory) {
        @table.accessories(a :: Nil) {
            <tr>
                <td></td>
                <td>@forms.text(id = "name", v = "nameValue", placeholder = "item name", default = a.getItem.name)</td>
                <td>@forms.number(id = "price", v = "priceValue", default = a.getItem.price)</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'price': priceValue()
    }
} {
    <!---->
}
