@(id: String, skill: Option[model.skill.MasterySkill], prerequisites: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.MasteryController.get(id),
    update = routes.MasteryController.update,
    delete = routes.MasteryController.delete(id),
    obj = skill) {
    @for(s <- skill) {
        @table.masterySkills(s :: Nil) {
            <tr>
                @columns.forms.skill(hasIdField = false, prerequisites = prerequisites, value = s.getSkill)
                <td>@forms.enum(id = "mastery", v = "masteryValue", companion = model.skill.SkillType, default = s.mastery.value)</td>
            </tr>
        }
    }
} {
    Object.assign({}, skillValues('@id'), {'mastery': masteryValue()})
} {
    <!---->
}
