@(id: String, v: String, default: model.skill.AttackLevel = model.skill.AttackLevel())

<div class="input-group">
    <input type="number" class="form-control" id="base-@id" placeholder="@default.base">
</div>
<div class="input-group">
    <input type="number" class="form-control" id="increasing-@id" placeholder="@default.increasingPct">
    <span class="input-group-addon">%</span>
</div>

<script>
    @v = function() {
        return {
            'base': number('#base-@id'),
            'increasing': number('#increasing-@id')
        };
    }
</script>
