@(id: String, skill: Option[model.skill.ChainAttackSkill], prerequisites: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.ChainAttackController.get(id),
    update = routes.ChainAttackController.update,
    delete = routes.ChainAttackController.delete(id),
    obj = skill) {
    @for(s <- skill) {
        @table.chainAttackSkills(s :: Nil, prerequisites) {
            <tr>
                <td></td>
                <td>@forms.text(id = "name", v = "nameValue", default = s.getSkill.getSkill.name)</td>
                <td>@forms.skills(id = "skills", v = "skillsValue", skills = prerequisites, default = s.getSkill.getSkill.prerequisites)</td>
                <td>@forms.enums(id = "types", v = "skillTypesValue", companion = model.skill.SkillType, default = s.getSkill.types)</td>
                <td>@forms.enums(id = "elements", v = "elementsValue", companion = model.Element, default = s.getSkill.elements)</td>
                <td>@forms.attackLevel(id = "power", v = "powerValue", default = s.getSkill.getPower)</td>
                <td>@forms.attackLevel(id = "tp", v = "tpValue", default = s.getSkill.getTpCost)</td>
                <td>@forms.enum(id = "part", v = "partValue", companion = model.BodyPart, default = s.getSkill.usedPart.value)</td>
                <td>@forms.enums(id = "follow", v = "followValue", companion = model.Element, default = s.follow)</td>
                <td>@forms.attackLevel(id = "chain", v = "chainValue", default = s.getChain)</td>
                <td>@forms.enum(id = "range", v = "rangeValue", companion = model.Range, default = s.range.value)</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'prerequisites': skillsValue(),
        'types': skillTypesValue(),
        'elements': elementsValue(),
        'power': powerValue(),
        'tp': tpValue(),
        'part': partValue(),
        'follow': followValue(),
        'chain': chainValue(),
        'range': rangeValue()
    }
} {
    <!---->
}
