@(id: String, skill: Option[model.skill.ChainAttackSkill], prerequisites: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.ChainAttackController.get(id),
    update = routes.ChainAttackController.update,
    delete = routes.ChainAttackController.delete(id),
    obj = skill) {
    @for(s <- skill) {
        @table.chainAttackSkills(s :: Nil, prerequisites) {
            <tr>
                @columns.forms.attackSkill(hasIdField = false, prerequisites = prerequisites, value = s.getSkill)
                <td>@forms.enums(id = "follow", v = "followValue", companion = model.Element, default = s.follow)</td>
                <td>@forms.attackLevel(id = "chain", v = "chainValue", default = s.getChain)</td>
                <td>@forms.enum(id = "range", v = "rangeValue", companion = model.Range, default = s.range.value)</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'prerequisites': skillsValue(),
        'types': skillTypesValue(),
        'elements': elementsValue(),
        'power': powerValue(),
        'tp': tpValue(),
        'part': partValue(),
        'follow': followValue(),
        'chain': chainValue(),
        'range': rangeValue()
    }
} {
    <!---->
}
