@(skills: List[model.skill.ChainAttackSkill], prerequisites: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@pages.list(call = routes.ChainAttackController.list, create = routes.ChainAttackController.create) {
    @table.chainAttackSkills(skills, prerequisites) {
        <tr>
            @columns.forms.attackSkill(hasIdField = true, prerequisites = prerequisites)
            <td>@forms.enums(id = "follow", v = "followValue", companion = model.Element)</td>
            <td>@forms.attackLevel(id = "chain", v = "chainValue")</td>
            <td>@forms.enum(id = "range", v = "rangeValue", companion = model.Range)</td>
        </tr>
    }
} {
    {
        'id': idValue(),
        'name': nameValue(),
        'prerequisites': skillsValue(),
        'types': skillTypesValue(),
        'elements': elementsValue(),
        'power': powerValue(),
        'tp': tpValue(),
        'part': partValue(),
        'follow': followValue(),
        'chain': chainValue(),
        'range': rangeValue()
    }
}
