@(races: List[model.Race], skills: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@main(title = "/races") {
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>/races</h1>

                @component.table.races(races) {
                    <tr>
                        <td>@component.form.id(placeholder = "race id")</td>
                        <td>@component.form.name(placeholder = "race name")</td>
                        <td>@component.form.skills(skills)</td>
                        <td>@component.form.levelAttributes()</td>
                    </tr>
                }

                <div id="create-result"></div>
                <button id="create" type="button" class="btn btn-default">Create</button>
            </div>
        </div>
    </div>

    <script>
        $('#create').click(function() {
            var url = window.location.origin + '@routes.RaceController.create';

            var body = {
                'id': idValue(),
                'name': nameValue(),
                'skills': skillsValue(),
                'attributes': levelAttributesValue()
            };

            jsonApi(url, 'POST', body, '#create-result');
        });
    </script>
}
