@(races: List[model.Race], skills: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@pages.list(call = routes.RaceController.list, create = routes.RaceController.create) {
    @table.races(races) {
        <tr>
            <td>@forms.text(id = "id", v = "idValue", placeholder = "race id")</td>
            <td>@forms.text(id = "name", v = "nameValue", placeholder = "race name")</td>
            <td>@forms.skills(id = "skills", v = "skillsValue", skills = skills)</td>
            <td>@forms.levelAttributes(id = "level-attributes", v = "levelAttributesValue")</td>
        </tr>
    }
} {
    {
        'id': idValue(),
        'name': nameValue(),
        'skills': skillsValue(),
        'attributes': levelAttributesValue()
    }
}
