@(id: String, cls: Option[model.Class], skills: List[model.skill.Skill])(implicit helper: models.ModelHelper)

@pages.get(
    call = routes.ClassController.get(id),
    update = routes.ClassController.update,
    delete = routes.ClassController.delete(id),
    obj = cls) {
    @for(c <- cls) {
        @table.classes(c :: Nil) {
            <tr>
                <td></td>
                <td>@forms.text(id = "name", v = "nameValue", default = c.name)</td>
                <td>@forms.skills(id = "skills", v = "skillsValue", skills = skills, default = c.skillTree.toList)</td>
                <td>@forms.levelAttributes(id = "level-attributes", v = "levelAttributesValue", default = c.getAttributes)</td>
            </tr>
        }
    }
} {
    {
        'id': '@id',
        'name': nameValue(),
        'skills': skillsValue(),
        'attributes': levelAttributesValue()
    }
} {
    <!---->
}
