@(hasIdField: Boolean, prerequisites: List[model.skill.Skill], value: model.skill.AttackSkill = model.skill.AttackSkill())

@columns.forms.skill(hasIdField = hasIdField, prerequisites = prerequisites, value = value.getSkill)
<td>@forms.enums(id = "types", v = "skillTypesValue", companion = model.skill.SkillType, default = value.types)</td>
<td>@forms.enums(id = "elements", v = "elementsValue", companion = model.Element, default = value.elements)</td>
<td>@forms.attackLevel(id = "power", v = "powerValue", default = value.getPower)</td>
<td>@forms.attackLevel(id = "tp", v = "tpValue", default = value.getTpCost)</td>
<td>@forms.enum(id = "part", v = "partValue", companion = model.BodyPart, default = value.usedPart.value)</td>
<td></td>

<script>
    attackSkillValues = function(id = null) {
        return Object.assign({}, skillValues(id), {
            'types': skillTypesValue(),
            'elements': elementsValue(),
            'power': powerValue(),
            'tp': tpValue(),
            'part': partValue()
        });
    }
</script>
