@(hasIdField: Boolean, prerequisites: List[model.skill.Skill], value: model.skill.AttackSkill = model.skill.AttackSkill())

@columns.forms.skill(hasIdField = hasIdField, prerequisites = prerequisites, value = value.getSkill)
<td>@forms.enums(id = "types", v = "skillTypesValue", companion = model.skill.SkillType, default = value.types)</td>
<td>@forms.enums(id = "elements", v = "elementsValue", companion = model.Element, default = value.elements)</td>
<td>@forms.attackLevel(id = "power", v = "powerValue", default = value.getPower)</td>
<td>@forms.attackLevel(id = "tp", v = "tpValue", default = value.getTpCost)</td>
<td>@forms.enum(id = "part", v = "partValue", companion = model.BodyPart, default = value.usedPart.value)</td>
<td>@forms.optionalEnum(id = "debuff", v = "debuffValue", companion = model.Debuff, default = value.debuff.map(_.debuff.value))</td>
<td>@forms.attackLevel(id = "debuff-level", v = "debuffLevelValue", default = value.getDebuff.getLevel)</td>
<td>@forms.attackLevel(id = "debuff-duration", v = "debuffDurationValue", default = value.getDebuff.getDuration)</td>

<script>
    attackSkillValues = function(id = null) {
        var debuff = {};

        if (debuffValue() != null) {
            debuff = {
                'debuff': {
                    'debuff': debuffValue(),
                    'level': debuffLevelValue(),
                    'duration': debuffDurationValue()
                }
            };
        }

        return Object.assign({}, skillValues(id), debuff, {
            'types': skillTypesValue(),
            'elements': elementsValue(),
            'power': powerValue(),
            'tp': tpValue(),
            'part': partValue()
        });
    }
</script>
